.SearchForm__button {
  display: inline-block;
  font: inherit;
  border: 0;
  outline: 0;
  transition: all 200ms ease-in;
  cursor: pointer;

  background: #7f8ff4;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;

  margin-left: -60px;
}

.SearchForm__button:hover {
  background: darken(#7f8ff4, 4%);
}

.SearchForm__button:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.SearchForm__input {
  width: 360px;
  font-size: 20px;
  background: #fff;
  color: #080808;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 16px 10px;
  background-color: rgb(188, 236, 212);
}
.searchbar {
  height: 80px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
